[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo

.vs/
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.psess
*.vsp
*.vspx
*.vssscc
*_i.c
*_p.c
*.ncb
*.sbr
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.obj
*.meta
.builds
*.pidb
*.svclog
*.scc
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.[Rr]e[Ss]harper
*.DotSettings.user
_ReSharper*/
*.[Rr]e[Ss]harper
.JustCode
_TeamCity*
_NCrunch_*
.*crunch*.local.xml

.idea/
*.sln.iml
.idea_modules/
*.DotSettings

packages/
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

**/Properties/launchSettings.json
*.mdf
*.ldf
*.ndf
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

Thumbs.db
ehthumbs.db
Desktop.ini

*~
*.swp
*.bak
*.tmp
*.temp

**/[Pp]ublish/
**/[Pp]ublished/
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.pubxml.user
*.publishproj
PublishScripts/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

project.lock.json
project.fragment.lock.json
artifacts/

*.local.json
appsettings.*.json
!appsettings.json
!appsettings.Example.json

_site/
**/[Dd]ocs/[Hh]elp/
**/[Dd]ocs/[Hh]tm/

node_modules/
bower_components/
wwwroot/lib/
npm-debug.log
yarn-error.log
yarn-debug.log 